{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "trailingComma": "es5",
    "printWidth": 80,
    "singleQuote": true
}
